@import '../../../@theme/styles/themes';

@include nb-install-component() {
    .card-flip-toggle-btn {
        font-size: 20px;
        vertical-align: text-bottom;
        float: right;
    }
    .card-flip-toggle-btn:hover {
        // Your code here
        opacity: 0.5;
        cursor: pointer;
    }

    h6 {
        color:white;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.14);
        text-align: center;
        // position: absolute;
    }

    nb-card-header {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    }
}