<div class="row">
  <nb-card>
    <nb-card-header>Basic form</nb-card-header>
    <nb-card-body>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1" class="label">Email address</label>
          <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1" class="label">Password</label>
          <input type="password" nbInput fullWidth id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
          <nb-checkbox>Check me out</nb-checkbox>
        </div>
        <button type="submit" nbButton status="danger">Submit</button>
      </form>
    </nb-card-body>
  </nb-card>
</div>
