<div class="row">
  <div class="col-xxl-7">
  <nb-card>
    <nb-card-header>Register Driver</nb-card-header>
    <nb-card-body>
        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
            <div class="form-group">
                <input name="cellNumber" #cellNumber="ngModel" [(ngModel)]="service.formData.cellNumber" class="form-control" placeholder="Cell Phone Number" required>
            </div>
            <div class="form-group">
                <input name="email" #email="ngModel" [(ngModel)]="service.formData.email" class="form-control" placeholder="Email Address">
            </div>
            <!-- <div class="form-group">
                <input name="monitorEmail" #monitorEmail="ngModel" [(ngModel)]="service.formData.monitorEmail" class="form-control" placeholder="Monitor Email">
            </div> -->
            <input type="hidden" name="monitorEmail" #monitorEmail="ngModel" [(ngModel)]="service.formData.monitorEmail">
            <div class="form-group">
                <input name="name" #name="ngModel" [(ngModel)]="service.formData.name" class="form-control" placeholder="Full Name">
            </div>
            <div class="form-group">
                <input name="numberPlate" #numberPlate="ngModel" [(ngModel)]="service.formData.numberPlate" class="form-control" placeholder="Taxi Registration Number">
            </div>
            <div class="form-group">
                <input name="password" #password="ngModel" [(ngModel)]="service.formData.password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-block btn-info">Submit</button>
            </div>
        </form>
    </nb-card-body>
  </nb-card>
  </div>
</div>
