<table class="table table-hover">
    <thead>
        <th>Description</th>
        <th>Street</th>
        <th>City</th>
        <th>Province</th>
        <th>Time</th>
        <th>Date</th>
        <!-- <th>Password</th> -->
    </thead>
    <tbody>
        <tr *ngFor="let vio of violationService.driverViolations">
            <td>{{vio.violationDescription}}</td>
            <td>{{vio.street}}</td>
            <td>{{vio.city}}</td>
            <td>{{vio.province}}</td>
            <td>{{vio.time}}</td>
            <td>{{vio.date}}</td>
            <!-- <td><a class="btn txt-danger"><i class="fa fa-trash"></i></a></td> -->
        </tr>
    </tbody>
</table>
