<table class="table table-hover">
    <thead>
        <th>Name</th>
        <th>Cell Number</th>
        <th>Email</th>
        <th>Number Plate</th>
        <!-- <th>Password</th> -->
    </thead>
    <tbody>
        <tr *ngFor="let driv of service.driverList">
            <td (click)="onSelect(driv)">{{driv.name}}</td>
            <td (click)="onSelect(driv)">{{driv.cellNumber}}</td>
            <td (click)="onSelect(driv)">{{driv.email}}</td>
            <td (click)="onSelect(driv)"> {{driv.numberPlate}}</td>
            <!-- <td><a class="btn txt-danger"><i class="fa fa-trash"></i></a></td> -->
        </tr>
    </tbody>
</table>
