<div class="row">
  <nb-card status="primary">
    <nb-card-header>Number of Drivers</nb-card-header>
    <nb-card-body>
      7
    </nb-card-body>
    <nb-card-footer>All of your registered drivers.</nb-card-footer>
  </nb-card>

  <nb-card status="danger">
    <nb-card-header>High Risk Drivers</nb-card-header>
    <nb-card-body>
      <nb-list>
        <nb-list-item>Eric Smit</nb-list-item>
        <nb-list-item>Nicholas Neo</nb-list-item>
      </nb-list>
    </nb-card-body>
    <nb-card-footer>Drivers with more than 10 complaints in the past 7 days.</nb-card-footer>
  </nb-card>
</div>
